.App {
  font-family: sans-serif;
  text-align: center;
  height: 300px;
  background-color: #ffff66;
  margin: auto;
  padding-top: 50px;
}
.main {
  font-family: sans-serif;
  text-align: center;
  height: 200px;
  margin: auto;
}
